# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
ENV/

# OS / editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

*.log

# Build outputs
Debug/
Release/
build/
*.elf
*.bin
*.hex
*.map
*.lst
*.o
*.d

# CubeIDE / Eclipse metadata
.metadata/
.settings/
*.launch